<!-- Book Modal -->
<div class="modal fade" id="bookModalCenter" tabindex="-1" role="dialog" aria-labelledby="bookModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="bookModalLongTitle"> <%= book.name %> </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="t">
          <div class="tc rel">

            <div class="book" id="book">
              <div class='hard'> 
                <%= image_tag "#{folder_name(book.name)}/cover.jpg", class: "page"%> 
              </div>
              <div class='hard'> 
                <%= image_tag "#{folder_name(book.name)}/first-page.jpg", class: "page" %> 
              </div>

              <% (2..book.page_count - 2).each do | page | %>
                <div> 
                  <%= image_tag "", image_placeholder: "#{folder_name(book.name)}/page-#{page}.jpg", class: "page lazy"%>
                </div>
              <% end %>

              <div> <%= image_tag "#{folder_name(book.name)}/penultimate-page.jpg", class: "page" %> </div>

              <div class='hard'> <%= image_tag "#{folder_name(book.name)}/last-page.jpg", class: "page" %> </div>
              <div class='hard'> <%= image_tag "#{folder_name(book.name)}/back-cover.jpg", class: "page" %> </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
