<!-- Modal -->
<div id="emailModal" class="modal fade" role="dialog">
  <div class="modal-dialog email">

    <!-- Modal content-->
    <div class="modal-content email">
      <div class="modal-header">
        <h4 class="modal-title">Email Me</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
      
        <%= form_with model: @message, id: 'emailForm' do | f | %>
          
          <div class='form-group row p-3'>
            <%= f.label :name, class: "col-sm-2 col-form-label" %>
              
            <div class='col-sm-10'> <%= f.text_field :name, class: "form-control" %> </div>
          </div>

          <div class="form-group row p-3">
            <%= f.label :subject, class: "col-sm-2 col-form-label" %>
            
            <div class="col-sm-10">
              <%= f.text_field :subject, class: "form-control" %>
            </div>
          </div>

          <div class="form-group row p-3">
            <%= f.label :email, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= f.text_field :email, class: "form-control" %>
            </div>
          </div>

          <div class="form-group row p-3">
            <%= f.label :message, class: "col-sm-2 col-form-label" %>

            <div class='col-sm-10'>
              <%= f.text_area :body, class: "form-control", placeholder: "Enter your message here" %>
            </div>
          </div>

          <div class="form-group row p-3">
            <div class="col-sm-10">
              <%= f.submit('Send Email', class: "btn btn-primary", id: "submitEmail") %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  //temporary solution for clearing and hiding the modal when submit button is clicked.
  //does not work on submit, and will close even when nothing has been filled out
  $('#submitEmail').on('click', event => {
    setTimeout(() => {
      $('#emailModal').modal('hide');
      $('#emailForm').trigger('reset')
    }, 500)
  });
</script>