<html lang="en">
  <script>
    const userPlatform = navigator.userAgent

    //load Niconne font on non-OS X platforms as substitute for Apple Chancery font for .masthead h1
    if (!/Mac/.test(userPlatform) || /iP(ad|hone)/.test(userPlatform)) {
      document.head.innerHTML += `<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Niconne">`
    }

    //load fonts for browsers which don't support preloading. (Edge is adding support with Edge 75+)
    if (/Edge|Firefox/.test(userPlatform)) {
      document.head.innerHTML += `<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700|Dancing+Script">`
    }
  </script>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Top</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"> <%= link_to "About", '#about', class: "nav-link js-scroll-trigger" %> </li>
            <li class="nav-item"> <%= link_to "Books", "#projects", class: "nav-link js-scroll-trigger" %> </li>
            <li class="nav-item"> <%= link_to "Contact", "#signup", class: "nav-link js-scroll-trigger" %> </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Khorshed</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">Books, cards, artwork, magic.</h2>
          <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center library">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Illustrated Books for Children</h2>
            <p class="text-white">Click on a book below!</p>
          </div>
        </div>
        
      </div>
    </section>

    <!-- Books (Projects) Section -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-6 col-lg-7" data-toggle="modal", id="top-book-pic-1-div" data-target="#bookModalCenter<%= @top_book.id %>" data-bookname="<%= @top_book.name.downcase %>">
            <%= image_tag "#{to_folder_name(@top_book.name)}/webp/cover.webp", class: 'img-fluid static-img static-img-js', id: 'displayed-book-cover-home', alt: @top_book.name  %>
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4> <%= @top_book.name %> </h4>
              <p class="text-black-50 mb-0"> <%= @top_book.short_summary %> </p>
              
              <%= render partial: "book_modal", locals: { book: @top_book } %>
            </div>
          </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6" id='pj-section-pic-1-div' data-toggle='modal' data-target="#bookModalCenter<%= @second_book.id %>" data-bookname="<%= @second_book.name.downcase %>">
            <%= image_tag "#{to_folder_name(@second_book.name)}/webp/cover.webp", class: 'img-fluid static-img static-img-js', alt: @second_book.name %>
          </div>
          <div class="col-lg-6">
            <div class="bg-blue text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white"> <%= @second_book.name %> </h4>
                  <p class="mb-0 text-white-50"> <%= @second_book.short_summary %> </p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                  <br>
                  <%= render partial: "book_modal", locals: { book: @second_book } %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6" id='pj-section-pic-2-div' data-toggle='modal' data-target="#bookModalCenter<%= @third_book.id %>" data-bookname="<%= @third_book.name.downcase %>">
            <%= image_tag "#{to_folder_name(@third_book.name)}/webp/cover.webp", class: 'img-fluid static-img static-img-js', alt: @second_book.name %>
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-blue text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white"> <%= @third_book.name %> </h4>
                  <p class="mb-0 text-white-50"> <%= @third_book.short_summary %> </p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                  <%= render partial: "book_modal", locals: { book: @third_book } %>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- BOOK SECTION -->
    <section class="book-section bg-black">
    </section>

    <!-- Signup Section -->
    <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">
          
            <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
            <form class="form-inline d-flex">
              <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
              <button type="submit" class="btn btn-primary mx-auto">
                  <label for='inputEmail'> Subscribe </label>
              </button>
            </form>

          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
          <!-- Trigger the modal with a button -->
            <h4 class="m-0 green" data-toggle="modal" data-target="#emailModal">Email</h4>
            <%= render partial: "email_modal" %>
            <hr class="my-4">
            <div> <%= link_to("daniel.lempesis@gmail.com", '#', class: 'small', data: { toggle: 'modal', target: '#emailModal'}) %> </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        &copy; Khorshed Dubash 2019
      </div>
    </footer>

    <!-- Custom scripts for this template -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-grayscale/5.0.8/js/grayscale.min.js" async></script>
    <!-- jQuery easing for smooth section transitions -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" async></script>
    <!-- SweetAlerts2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" async></script>
  </body>
</html>