<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for?(:title) ? yield(:title) : 'Dubash Designs' %> 
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Interactive, illustrated children's books. Click on a book to leaf through the pages!">
    <meta name="author" content="Daniel Lempesis">
    <meta name="image" property="og:image" content= <%= "https://www.dubashdesigns.com/assets/#{asset_digest_path('img/og-img.jpg')}" %>>

    <%= favicon_link_tag asset_path('favicon.png'), rel: 'icon', type: 'image/png' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>

  <body>
    <%= yield %>
  </body>
</html>