<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for?(:title) ? yield(:title) : 'Dubash Designs' %> 
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Illustrated Children's Books">
    <meta name="author" content="Daniel Lempesis">
    <meta name="image" property="og:image" content="https://www.dubashdesigns.com/assets/img/og-img.jpg">

    <%= favicon_link_tag asset_path('favicon.png'), rel: 'icon', type: 'image/png' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>

    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>

    <!-- Custom fonts for home page -->
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Nunito:400,700|Dancing+Script" as="style" onload="this.rel='stylesheet'">
  </head>

  <body>
    <%= yield %>
  </body>
</html>